{% extends 'Frontend.html.twig' %} 
 {% block section0 %}{% endblock %}
{% block section1 %}{% endblock %}
{% block section2 %}{% endblock %}
{% block footer %}{% endblock %}

    {% block div %}
     <nav class="navbar navbar-default probootstrap-navbar" style="background: none;">
        <div class="header">
          <div class="navbar-header">
            <a class="navbar-header" href="{{path('front')}}"><img src="{{asset('assets/img/Logo-CrowdEdu-Africa-1.png')}}" style="width:120px; margin-top:25px;margin-left:40px;"></a>
          </div>          
          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class=""> <a href="{{ path('campagne')}}" style="color:#96bf31;font-family:ubuntu;"> </a></li>
            </ul>
          </div>
          <h1 class="header-title" style="font-family: Lato,Arial,sans-serif;font-style: normal;font-weight: 400;color: inherit;text-rendering: optimizeLegibility;margin-left:50px"> Mes campagnes</h1>
           {# <p style="border-bottom: 1px solid ;"></p>     #}
           </div>
                 </nav>        
         
     {% endblock %}

    {% block campagne %}
    <div class=" container-fluid" style="background-color:#F8F8FF;margin-top: 15rem!important;;display: block;">
    <div class="row">
    <div class=" col-lg-12"style="height:900px">
     
     {# {{dump(user.projets[0] )}} #}
        <div class="row">
        {% for users in user.projets %}
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate" data-animate-effect="fadeIn">
      <div class="row campaign-action-tile-flex" style="max-width: 50rem;margin-right: auto;margin-left: auto;">
        <div class="column small-12 medium-6 large-4 mb"style="width: 100%;float: left;padding-right: .5rem;padding-left: .5rem;">
        <div class="campaign-action-tile" style="padding: 0;margin-bottom: 1rem!important;border-radius: 4px;-webkit-box-shadow: 0 0.375rem 0.75rem 0 rgba(0,0,0,.1);box-shadow: 0 0.375rem 0.75rem 0 rgba(0,0,0,.1);background-color: #fff;height: 100%;margin: 0 1rem 1rem;overflow: hidden;position: relative;">
          <div class="campaign-action-tile-image-wrapper" style="box-sizing: inherit;height:70px;width:100%">
            <div class="gfm-scaled-image-container blurred-header-background-image" style="height: 100%; width: 100%;margin: 0;padding: 0;padding: 2rem 1rem 1rem;border-bottom: 1px solid rgba(221,221,221,.5);overflow: hidden; ">                         
              <img alt="" class="gfm-scaled-image" style="transform: scale(1);;box-sizing: inherit;vertical-align: inherit;display: inline-block;vertical-align: middle;max-width: 100%;height: auto;border-style: none;" src="data:photo/jpg;base64,{{users.photo}}">
            </div>
          </div>
          <div class="gfm-scaled-image-container campaign-action-tile-image" style="height: 60px; width: 90px;border-radius: 4px;position: absolute;top: 4rem;left: 2rem;">
            <img alt="" class="gfm-scaled-image" style="transform: scale(1);border-style: none;display: inline-block;vertical-align: middle;max-width: 100%;height: auto;" src="data:photo/jpg;base64,{{users.photo}}">
          </div>
          <div class="campaign-action-tile-content"style="padding: 7rem 6rem 6rem;border-bottom: 1px solid rgba(221,221,221,.5);">
            <div class="campaign-action-tile-title mb15"style="font-size: 2rem;color: #333;">{{users.titreProjet}}</div>
            <div class="campaign-action-tile-info-wrapper"style="font-size: .875rem;color: #666;">Brouillon</div>
          </div>
            <button class="action-words campaign-action-tile-button"style="width: 100%;padding: 1rem;webkit-box-orient: horizontal;webkit-box-direction: normal;flex-direction: row;webkit-box-align: center;align-items: center;webkit-box-pack: center;justify-content: center;outline: 0;">
            <div class="text-center" style="color: #96bf31;display: block;font-size: .875rem;webkit-writing-mode: horizontal-tb !important;font-weight: 900;font-family: inherit;-webkit-appearance: none;border: 0;border-radius: 4px;background: 0 0;line-height: 1;cursor: pointer;overflow: visible;text-transform: none;word-spacing: normal;text-shadow: none;font: 400 13.3333px Arial;letter-spacing: normal;text-rendering: auto;"> <a href="{{ path('edit_projet', {'id': app.user.projets[0].id}) }}">Modifier</a></div>
            </button>
          </div>
        </div>
        </div>
        </div>
          {% endfor %}
          
      </div>
      <div class="row"> 
      <div class="col-lg-12">
       <a href="{{path('campagne')}}"style="background-color:font-family:ubuntu;color:#096ea2 ! important" >Ajouter  une campagne<i class="fas fa-plus-square" style="color:#096ea2 ! important"></i></div>
      </div>
    </div>
   </div>
  </div>
         
{% endblock %}
